body {
    background-image: url("img/advert-84408_1280.jpg");
    background-color: white;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-repeat: no-repeat; 
    background-position: left top;
    background-size: 400px;
  }
   
  .container {
    text-align: center; 
  }
   
  h1,
  h2 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
   
  .input label {
    display: block; 
    margin-bottom: 5px;
  }
   
  .input {
    margin-bottom: 10px;
  }
   
  input[type="text"],
  input[type="number"],
  button {
    margin: 5px auto; 
    padding: 5px;
    display: block; 
  }